
:root{
    --magenta: #8F2D56;
    --white: #f1f1f1;
    

}
body{
    background-color: #D81159;
}

header h1 {
    padding: 5px 35%;
    margin: 0;
    font-size: 3vw;
    line-height: 2;
  }
  header h3{
    padding: 2%;
    font-size: 26px;
    background-color: #E63462;
    margin-top: 5px;
    
    
}

button{
font-size: 15px;
padding: 15px 55px ;
margin-left: 40%;
align-items: center;
margin-top:250px;
box-shadow: #2db554;
color: #000000;
background-color: #d32af9 
}


h1 {
    margin: 0%;
    font-family: 'shrikhand';
    color: var(--white);
    background-color: var(--magenta)
    }

