
:root{
    --magenta: #8F2D56;
    --white: #f1f1f1;
    

}
body{
    background-color: #D81159;
}

header h1 {
    padding: 5px 2% 5px 30%;
    margin: 0;
    font-size: 4vw;
    line-height: 3;
  }
  header h3{
    padding: 2%;
    font-size: 50px;
    background-color: #E63462;
    
    margin-bottom: 30%
    
}

button {
font-size: x-large;
padding: 55px 55px ;
margin-left: 40%;
margin-bottom: 30px;
align-items: center;
box-shadow: #2db554;
color: #000000;
background-color: #d32af9
}

  
   
    


h1 {
    margin: 0%;
    font-family: 'shrikhand';
    color: var(--white);
    background-color: var(--magenta)
    }

